out/
*.iws
*.iml
.idea
.idea*
.idea/*
.idea/workspace.xml
workspace.xml
tasks.xml
local.properties
gen/
*.pyc
*.swp
bin/
*.apk
*.log
*~
coverage-report/
test_result/
*.ser
*.em
.settings
build-log.xml
